{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tooplate's Little Fashion</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %} " rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />

    <link href="{% static 'css/tooplate-little-fashion.css' %}" rel="stylesheet">
    <!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->
</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <main>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="index.html">
                    <strong><span>Delicious</span> Dishes</strong>
                </a>

                <div class="d-lg-none">
                    <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

                    <a href="product-detail.html" class="bi-bag custom-icon"></a>
                </div>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="about.html">about</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="products.html">Products</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view_req' %}">history</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>

                    <div class="d-none d-lg-block">
    <a href="{% url 'updateuser_profile' request.user.pk %}"><i class="fas fa-desktop"></i><span>Update Profile</span></a>
    <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

                        <a href="product-detail.html" class="bi-bag custom-icon"></a>
                    </div>
                </div>
            </div>
        </nav>

        <section class="slick-slideshow">
            <div class="slick-custom">
                <img src="{% static 'images/slideshow/istockphoto-646624176-170667a22.webp' %} " class="img-fluid"
                    alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title">Delicious foods</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">Little fashion template comes with total 8
                                    HTML pages provided by Tooplate website.</p>

                                <a href="about.html" class="btn custom-btn">Learn more about us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slick-custom">
                <img src="{% static 'images/slideshow/images.png' %}" class="img-fluid" alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title">New Design</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">Please share this Little Fashion template to
                                    your friends. Thank you for supporting us.</p>

                                <a href="product.html" class="btn custom-btn">Explore products</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slick-custom">
                <img src="{% static 'images/slideshow/chef-4625935_640.jpg' %}" class="img-fluid" alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title">Talk to us</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">Tooplate is one of the best HTML CSS template
                                    websites for everyone.</p>

                                <a href="contact.html" class="btn custom-btn">Work with us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        
        <section class="category">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">Our Categories</div>
                    </div>
                </div>
                <div class="row">
                    {% for category in categories %}
                    <div class="col-md-3">
                        <figure>
                            {% if category.img %}
                                <img src="{{ category.img.url }}" alt="{{ category.name }}" class="img-fluid">
                            {% endif %}
                            <div class="product-info">
                                <h5>{{ category.name }}</h5>
                            </div>
                        </figure>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        


       


        <section class="featured-product section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="mb-5">Featured Products</h2>
                    </div>
        
                    {% for featured_product in featured_products %}
                    <div class="col-md-4">
                        <figure>
                            {% if featured_product.image %}
                                <img src="{{ featured_product.image.url }}" alt="{{ featured_product.name }}" class="img-fluid">
                            {% endif %}
                            <div class="product-info">
                                <h5>{{ featured_product.name }}</h5>
                                <p>{{ featured_product.desc }}</p>
                                <p>Price: ${{ featured_product.price }}</p>
                                <p>Quantity: {{ featured_product.quantity }}</p>
                                {% comment %} {% if featured_product.category %}
                                    <p>Category: {{ featured_product.category.name }}</p>
                                {% endif %} {% endcomment %}
                                <a href="{% url 'view_product' featured_product.id %}" class="btn btn-primary">View</a>
                            </div>
                        </figure>
                    </div>
                    {% endfor %}
        
                    
                </div>
            </div>
        </section>
        

    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-10 me-auto mb-4">
                    <h4 class="text-white mb-3"><a href="index.html">Little</a> Fashion</h4>
                    <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2022 <strong>Little
                            Fashion</strong></p>
                    <br>
                    <p class="copyright-text">Designed by <a href="https://www.tooplate.com/"
                            target="_blank">Tooplate</a></p>
                </div>

                <div class="col-lg-5 col-8">
                    <h5 class="text-white mb-3">Sitemap</h5>

                    <ul class="footer-menu d-flex flex-wrap">
                        <li class="footer-menu-item"><a href="about.html" class="footer-menu-link">Story</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Products</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Privacy policy</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">FAQs</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-4">
                    <h5 class="text-white mb-3">Social</h5>

                    <ul class="social-icon">

                        <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                        <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                        <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                        <li><a href="#" class="social-icon-link bi-skype"></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/Headroom.js' %}"></script>
    <script src="{% static 'js/jQuery.headroom.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>